<html>
    <head>
        <title>Skeny writes barely</title>
    </head>
    <body>
        <div>
            <h1><a href="/">This link is useless</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">So it this</a></h2>
            <p>You probably shouldn't be reading this</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">What are you still doing here?</a></h2>
            <p>Get a life dude, seriously!</p>
        </div>
    </body>
</html>